{% extends 'base.html' %}

{% block title %}Password Reset Complete - Inventory System{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow">
            <div class="card-body p-5">
                <h3 class="card-title text-center mb-4">Password Reset Complete</h3>
                <p class="text-center">Your password has been set. You may now log in with your new password.</p>
                <div class="text-center mt-3">
                    <a href="{% url 'inventory:login' %}" class="btn btn-primary">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

